.team-section {
    padding: 80px 20px;
   
    color: white;
    text-align: center;
  }
  
  .team-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
  }
  
  .team-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .member {
    max-width: 200px;
  }
  
  .member img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 16px;
    border-radius: 50%;
  }
  
  .member h3 {
    margin: 0;
    font-size: 20px;
    color: #93a7eb;
    font-family: Inter, sans-serif;
  }
  
  .member p {
    font-size: 14px;
    color: #ccc;
  }
  
@media only screen and (max-width: 768px) {
   .team-grid {
    gap: 20px;
  }

  .member {
    max-width: 150px;
  }

  .member img {
    width: 100px;
  }

  .member h3 {
    font-size: 16px;
  }

  .member p {
    font-size: 12px;
  }

  }