.main-info {
  margin: 150px auto 0 auto;
  display: flex;
  flex-direction: column;

}

.main-info h1 {
  margin: 0;
  max-width: 90vw;
  color: #fff;
  font-family: 'Expletus Sans', sans-serif;
  font-size: 120px;
  font-weight: 900;
  line-height: 150px;
  text-align: left; 
}

.main-info #info {
  max-width: 800px;
  margin: 50px 0 15px 0;
  font-size: 45px;
  color: #eeecec;
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
}

.main-info p span {
  color: #93a7eb;
}

#now {
  background: linear-gradient(#fffdf7ee, #3a56f3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-info a {
  width: 250px;
  height: 60px;
  background-color: inherit;
  border: solid 2px #fff;
  border-radius: 14px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: border-color 100ms;
}

.main-info a:hover {
  border-color: #3a56f3;
}

.main-info a:first-child {
  margin-left: 0;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.demo-intro {
  color: #93a7eb;
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 520;
}


@media only screen and (max-width: 768px) {
 

  .main-info h1 {
    font-size: 56px;
    line-height: 64px;
    text-align: center;
  }

  .main-info #info {
    font-size: 27px;
    text-align: center;
    margin: 30px auto 0px 0px;
    padding: 0% 6%;
    max-width: 330px;

  }

  .main-info a {
    width: 100%;
    max-width: 250px;
    height: 50px;
    font-size: 16px;
  }

  .video-wrapper iframe {
    width: 90vw;
    height: 200px;
  }

  .centered-content {
    align-items: center;
  }

  .demo-intro {
  color: #93a7eb;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 520;
  padding: 0% 9%;
}
}

